@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-tech: var(--font-share-tech);
  --font-barlow: var(--font-barlow);
  --font-con: var(--font-concert-one);
  --font-pop: var(--font-poppins);

  --color-primary: #273f4f;
  --color-secondary: #efeeea;
  --color-accent: #fe7743;

  --container-lg: 100px;
}
